<a href="https://colab.research.google.com/github/LuccaMello7/Portfolio/blob/main/Finding_Missing_Values_App_to_Rent_Bicycles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Analysing Missing Values in an App to Rent Bicycles</h1>

<img align="center" width="80%" height="100%" src="https://s2.glbimg.com/VJZk4Ay0yYUhv0Lu9WEnaqif4J0=/0x0:1280x921/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2019/N/5/MENjjHQcOsZpkg7ZpAqg/yellow.jpg"> 

<h3>Identifying missing values</h3>

*The photo is displaying the Yellow App, but we are using +Bike Project from Brasilia, Brazil to analyze missing values*

We have already seen how to identify NaN-type values. It is essential to identify the number of missing values and how representative they are in relation to the total number of entries.

[Navigating the Hell of NaNs in Python - Towards Data Science - Article from Medium](https://towardsdatascience.com/navigating-the-hell-of-nans-in-python-71b12558895b)

**NaN = Not A Number**
**None** = Python Internal type = **NULL**

In [ ]:
DATA_PATH = "http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv"

#import necessary packages

import pandas as pd

#import database

df = pd.read_csv(DATA_PATH)

#see the first inputs

df.head()

  user_gender user_birthdate  ... ride_duration ride_late
0           M     1971-06-08  ...     16.250000       0.0
1           M     1989-02-11  ...      5.266667       0.0
2           M     1968-07-19  ...     15.400000       0.0
3           M     1991-12-19  ...      5.866667       0.0
4           M     1969-03-03  ...    641.133333       1.0

[5 rows x 10 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287322 entries, 0 to 287321
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_gender     286926 non-null  object
 1   user_birthdate  287321 non-null  object
 2   user_residence  107417 non-null  object
 3   ride_date       287322 non-null  object
 4   time_start      287322 non-null  object
 5   time_end        244037 non-null  object
 6   station_start   287322 non-null  object
 7   station_end     287322 non-null  object
 8   ride_duration   214148 non-null  float64
 9   ride_late       214148 non-null  float64
dtypes: float64(2), object(8)
memory usage: 21.9+ MB

In [ ]:
df.isnull() #check the amount of null values

        user_gender  user_birthdate  ...  ride_duration  ride_late
0             False           False  ...          False      False
1             False           False  ...          False      False
2             False           False  ...          False      False
3             False           False  ...          False      False
4             False           False  ...          False      False
...             ...             ...  ...            ...        ...
287317        False           False  ...          False      False
287318        False           False  ...          False      False
287319        False           False  ...          False      False
287320        False           False  ...          False      False
287321        False           False  ...          False      False

[287322 rows x 10 columns]

In [ ]:
df.isnull().sum() #check the amount of null values by columns

user_gender          396
user_birthdate         1
user_residence    179905
ride_date              0
time_start             0
time_end           43285
station_start          0
station_end            0
ride_duration      73174
ride_late          73174
dtype: int64

In [ ]:
df.isnull().sum() / df.shape[0]  #check the percentage of null values

user_gender       0.001378
user_birthdate    0.000003
user_residence    0.626144
ride_date         0.000000
time_start        0.000000
time_end          0.150650
station_start     0.000000
station_end       0.000000
ride_duration     0.254676
ride_late         0.254676
dtype: float64

<h1>Removing the Missing Values</h1>

This is a first option when we are dealing with null values of type NaN in our DataFrame.

However, it tends not to be ideal, because because because of the value of a single cell, we eliminate the existing data in other columns. This option should be considered in case the amount of null data is small enough not to be representative in the dataset

I can exclude both rows with missing values and whole columns. To let Pandas know if you want to delete rows `(axis=0)` or `columns (axis=1)`, you must inform it inside the `dropna()` method.

In [ ]:
#delete all inputs where null vales are located in 'user_gender'

df_clean = df.dropna(subset=['user_gender'], axis=0) #creating a copy of dataset (backup)

print("ANTES:\t{}".format(df.shape))
print("DEPOIS:\t{}".format(df_clean.shape))

ANTES:	(287322, 10)
DEPOIS:	(286926, 10)

<h1>Fill in values </h1>

This is usually the best option as it allows you to keep existing data in other cells.

A question that usually comes up is "Do I replace the missing value with what value?". 

The answer to that question is: `it depends`.

There are simple techniques like using most frequent value, average and median, as well as there are more advanced techniques that even involve the use of *machine learning* models whose job is to tell you which value to use in these fields.

I'll show you how you can use the median to fill in the missing fields in the ride_duration column, using the fillna() function

In [ ]:
#before

df_clean.isnull().sum()

user_gender            0
user_birthdate         1
user_residence    179818
ride_date              0
time_start             0
time_end           43212
station_start          0
station_end            0
ride_duration      73064
ride_late          73064
dtype: int64

In [ ]:
#fill null values in 'ride_duration' with median function

rd_median = df_clean.ride_duration.median()
df_clean = df_clean.fillna({'ride_duration': rd_median})


# checking null values
df_clean.isnull().sum()

user_gender            0
user_birthdate         1
user_residence    179818
ride_date              0
time_start             0
time_end           43212
station_start          0
station_end            0
ride_duration          0
ride_late          73064
dtype: int64

In the case of the user_gender column, we have a categorical variable. The idea here is to use the most frequent value to fill in the values. Value to see which one has more recurrence and replace directly in the column.

In [ ]:
#copying Dataset again

df_clean = df.copy()

#check missing values

df_clean.isnull().sum()

user_gender          396
user_birthdate         1
user_residence    179905
ride_date              0
time_start             0
time_end           43285
station_start          0
station_end            0
ride_duration      73174
ride_late          73174
dtype: int64

In [ ]:
# The Most Frequent Value

df_clean.user_gender.value_counts()

M    212608
F     74318
Name: user_gender, dtype: int64

In [ ]:
#Fill in missing values of user_gender with 'M'

df_clean = df_clean.fillna({'user_gender' : 'M'})

# check current missing values

df_clean.isnull().sum()

user_gender            0
user_birthdate         1
user_residence    179905
ride_date              0
time_start             0
time_end           43285
station_start          0
station_end            0
ride_duration      73174
ride_late          73174
dtype: int64